:root {
  --mdc-theme-primary: rgb(225, 225, 225);
  --mdc-theme-on-primary: rgb(40, 40, 40);
  --mdc-theme-primary-container: ;
  --mdc-theme-on-primary-container: ;
  --mdc-theme-secondary: rgb(225, 225, 225);
  --mdc-theme-on-secondary: rgb(40, 40, 40);
  --mdc-theme-secondary-container: ;
  --mdc-theme-on-secondary-container: ;
  --mdc-theme-tertiary: ;
  --mdc-theme-on-tertiary: ;
  --mdc-theme-tertiary-container: ;
  --mdc-theme-on-tertiary-container: ;
  --mdc-theme-error: ;
  --mdc-theme-error-container: ;
  --mdc-theme-on-error: ;
  --mdc-theme-on-error-container: ;
  --mdc-theme-background: ;
  --mdc-theme-on-background: ;
  --mdc-theme-surface: ;
  --mdc-theme-on-surface: ;
  --mdc-theme-surface-: ;
  --mdc-theme-on-surface-: ;
  --mdc-theme-outline: ;
  --mdc-theme-inverse-on-surface: ;
  --mdc-theme-inverse-surface: ;
  --mdc-theme-inverse-primary: ;
  --mdc-theme-shadow: ;
  --mdc-theme-surface-tint: ;
  --mdc-theme-outline-: ;
  --mdc-theme-scrim: ;
}

h1,
h2,
p {
  color: rgb(225, 225, 225);
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#riding-low-video {
  position: fixed;
  z-index: -1000;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

canvas {
  z-index: -1000;
  position: fixed;
  top: 0;
  left: 0;
}

.info {
  display: flex;
  box-sizing: border-box;
  padding: 40px;
  justify-content: space-between;
}

.info .span-right {
  text-align: right;
}

.controls {
  position: fixed;
  bottom: 0;
  left: 0;
  align-items: center;
  width: 100vw;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 40px;
  gap: 4px;
}

.mdc-slider {
  flex-grow: 1;
}

.mdc-fab {
  margin-right: 20px;
}
